<?xml version='1.0' encoding='utf-8'?>
<widget id="com.investment.assistant" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>投资助手</name>
    <description>Investment Assistant - 智能投资分析助手</description>
    <author email="dev@investment.com" href="https://investment.com">Investment Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-compileSdkVersion" value="34" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="BackgroundColor" value="0xff1a1a2e" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="default" />
    <engine name="android" spec="^14.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.5" />
</widget>
